
@{
    ViewBag.Title = "PageError";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container">
    <div class="row my-5 text-center">
        <div class="col-12 my-3">

            <div class="row justify-content-center">
                <h1 class="text-black" style="font-size:80px"> 404</h1>
            </div>
            
            <div class="row justify-content-center">
                <div class="error-content">
                    <h3><i class="fas fa-exclamation-triangle text-warning"></i> Hmm! Aradığın sayfayı bulamadık.</h3>

                    <p>
                        İstersen anasayfaya dönebilirsin. Senin için aşağıya link bıraktık :)
                    </p>
                </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-5 col-md-4">
                    <a href="/" class="btn btn-primary btn-block">Ana Sayfa</a>
                </div>
            </div>
        </div>
    </div>
</div>

               
           







