@model List<TezProje.Models.Siniflar.Hakkimda>
@{
    ViewBag.Title = "Biz Kimiz?";
    ViewBag.Aciklama = "Bu proje Pamukkale Universite'si Yönetim Bilişim Sistemleri bitirme projesi amacıyla yapılmıştır.";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!DOCTYPE html>
<html>

<body>
    <!-- Header-->

    <section class="py-4">
        @foreach (var x in Model)
        {
            <div class="container text-center">

                <h1>Biz Kimiz?</h1>
                <p class="mb-3">Dünyayı gezen ve gezilmedik yer bırakmayan kişileriz!</p>



            </div><img class="w-100 py-2 mb-4 img-fluid" src="@x.FotoUrl" alt="">

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10 mb-5 mb-lg-0">
                        <p class="lead first-letter-styled line-height-lg">@Html.Raw(x.Aciklama)</p>
                        <div class="px-lg-5 mb-5">
                            <blockquote class="blockquote-custom">Öyle zamanlar olur ki; nereye gittiğin önemini yitirir. Çünkü asıl önemli olan, yanında kiminle gittiğindir… <br /> - Tolstoy</blockquote>
                        </div>
                        @*<h2>Heading level two</h2>
                        <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.</p>
                        <img class="img-fluid mb-4" src="img/post-img-1.jpg" alt="">
                        <p class="text-muted mb-5">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.</p>
                        <h3 class="mb-4">Heading level three</h3>
                        <ul class="list-check text-muted text-small mb-5">
                            <li class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                            <li class="mb-1">Inventore magni sed error dignissimos repudiandae.</li>
                            <li class="mb-1">Aperiam cum, nisi sed aliquam soluta amet molestiae.</li>
                            <li class="mb-1">Consequatur sequi dolore, doloribus officia Nihil fugit.</li>
                        </ul>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="mb-5">Possimus animi modi praesentium quis delectus libero architecto ipsum sint iure amet rerum incidunt, harum facere voluptatibus eligendi. Velit sapiente omnis earum, facilis harum est debitis tenetur deserunt tempora explicabo!</p>*@




                    </div>
                </div>
            </div>
        }
    </section>


    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
</body>
</html>